

/* Default ipad landscape */


/* game */

.ui-icon-icons-game:after {
    background-image: url("icons/icon-game.png");
    background-size: 20px 20px;
}

.ui-nosvg .ui-icon-icons-game:after {
    background: url("icons/icon-game.png");
}


/* home */

.ui-icon-icons-home:after {
    background-image: url("icons/icon-home.png");
    background-size: 20px 20px;
}

.ui-nosvg .ui-icon-icons-home:after {
    background: url("icons/icon-home.png");
}


/* cart */

.ui-icon-icons-cart:after {
    background-image: url("icons/icon-cart.png");
    background-size: 20px 20px;
}

.ui-nosvg .ui-icon-icons-cart:after {
    background: url("icons/icon-cart.png");
}


/* profile */

.ui-icon-icons-profile:after {
    background-image: url("icons/icon-profile.png");
    background-size: 20px 20px;
}

.ui-nosvg .ui-icon-icons-profile:after {
    background: url("icons/icon-profile.png");
}


/* category */

.ui-icon-icons-category:after {
    background-image: url("icons/icon-category.png");
    background-size: 20px 20px;
}

.ui-nosvg .ui-icon-icons-category:after {
    background: url("icons/icon-category.png");
}

.ui-body-a .ui-block-a {
    height: auto;
}

    .ui-body {
        color: #787575;
        font-weight: 20px;
        text-align: center;
        align-content: center;
    }



.ui-grid-a .orderSummary .ui-block-a-label1 {
    padding-right: 0px;
    margin-top: -13px;
    margin-right: 4px;
}

.ui-grid-a .orderSummary .ui-block-a-label2 {
    padding-top: 13px;
}

/* My profile-Customer */


@keyframes tonext {
    75% {
        left: 0;
    }
    95% {
        left: 100%;
    }
    98% {
        left: 100%;
    }
    99% {
        left: 0;
    }
}

@keyframes tostart {
    75% {
        left: 0;
    }
    95% {
        left: -300%;
    }
    98% {
        left: -300%;
    }
    99% {
        left: 0;
    }
}

@keyframes snap {
    96% {
        scroll-snap-align: center;
    }
    97% {
        scroll-snap-align: none;
    }
    99% {
        scroll-snap-align: none;
    }
    100% {
        scroll-snap-align: center;
    }
}

body {
    max-width: 37.5rem;
    margin: 0 auto;
    padding: 0 1.25rem;
    font-family: 'Lato', sans-serif;
}

* {
    scrollbar-color: transparent transparent;
    /* thumb and track color */
    scrollbar-width: 0px;
}

*::-webkit-scrollbar {
    width: 0;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;   
}

* {
    -ms-overflow-style: none;
}
h3{
 text-align: center;
}
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    padding-top: 75%;
    filter: drop-shadow(0 0 10px #0003);
    perspective: 100px;
}


.carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
}

.carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    background-color: #f99;
    counter-increment: item;
}

.carousel__slide:nth-child(even) {
    background-color: #99f;
}

.carousel__slide:before {
    content: counter(item);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 70px);
    color: #fff;
    font-size: 2em;
}

.carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
}

@media (hover: hover) {
    .carousel__snapper {
        animation-name: tonext, snap;
        animation-timing-function: ease;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    .carousel_slide:last-child .carousel_snapper {
        animation-name: tostart, snap;
    }
}

@media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
        animation-name: none;
    }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
    animation-name: none;
}

.carousel__navigation {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
    display: inline-block;
}

.carousel__navigation-button {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-color: #333;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
}

.box {
   margin-right: auto; 
    background-color: #ffff;
    border: 2px solid;
    padding: 14px;
    padding-top: 0px;
    margin-left: 42px;
    margin-right: 42px;
    height: 250px;
    font-size: 24px;
}

#map {
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
   }

   div.hr-or {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ce9c23;
    text-align: center;
    height: 0px;
    line-height: 0px;
  }
  
  div.hr-or:before {
    content: 'OR';
    background-color:#ce9c23;
  }
  
  div.hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #ce9c23;
    text-align: center;
    height: 0px;
    line-height: 0px;
    font-weight: bold;
    font-size: 1.60em;
  }
  .division{
    padding-top: 15px;  
    padding-bottom: 15px;
  }
  .hr-title {
    background-color: rgb(85, 17, 34);
  
  }

  .space{
   height: 31px;
  }

.btn-rating{
    width:40% !important;
}

.ui-btn.ui-input-btn.ui-btn-a.ui-corner-all.ui-shadow{
    width:20px;
}

.ui-body.ui-body-a.ui-corner-all{
    width: 78% !important;     
    margin-right: auto;
    margin-left: auto;
    float: none !important;
}
.ui-btn.ui-shadow.ui-corner-all{
    width:80% !important;
}
.ui-btn.ui-corner-all{
    width:80% !important;
    
}
h2{
    text-align: center;
    font-size: 27px;
    margin-top: -1px;
    padding-top: 10px;
    width: auto;
    font-family: roboto slab;
}
.back{
    margin-left: 9px;
}
.row{
    margin-left: 10px;
}

.feeadbackImageStyle{
    width:100px !important; 
    margin-left: 12px !important;
    margin-right: auto !important;
    margin-top: -25px !important;
    box-sizing: none !important;
    color: black;
    font-size: 20px !important;
}

 .box-rating {
    width: 96% !important;
    background-color: white;
    height: max-content;
    border-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 17px !important;
}

.text-rating{
    text-align: center;
    font-size: 17px;
}

.fa.fa-star{
    font-size: 10px;
}

.commentbox{
    background-color: white;    
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;    
    padding-top: 10px;
}
.video-size{
    height: 300px !important;
    width:99%;
}
.POI-image{
    width: 120px;
    height: 100px;
}


.pOI-name {
    text-align: left;
    font-family: serif !important;
    font-size:26px;
    font-weight: bold;
    color: #000;
    padding-left: 20px;

}
.pOI-des {
    text-align: left;
    font-family: serif !important;
    font-size: 20px;
    font-weight: normal;
    color: rgb(102, 100, 100);
    padding-left: 20px;
}
.pOI-price {
    text-align: left;
    font-family: serif !important;
    font-size: 24px;
    font-weight: bold;
    color: rgb(53, 53, 53);
    padding-left: 20px;
}
.pOI-name-promo {
    text-align: center;
    font-family: serif !important;
    font-size:24px;
    font-weight: bold;
    color: #000;
}
.pOI-price-promo {
    text-align: center;
    font-family: serif !important;
    font-size:22px;
    font-weight: bold;
    color: rgb(53, 53, 53);
}


.QRStyle{
    height: 53px !important;
    padding-left: 3px;
}
.logo-style{
    margin-right: 20px;
}
.view-item-grid{
    margin-left: auto;
    margin-right: auto;
    width: 570px;
    padding-bottom: 20px;
}
.view-item-img{
    width: 20%; 
    margin-left: 50px;

}
.view-item-des{
    font-family: serif; 
    margin-left: 8%; 
    text-align: justify;
    width: auto;
    padding-right: 5px;
    font-size: 20px;
    margin-left: -65px;
}
/* darshi */
.row{
    margin-left: 65px;
}
.text-rating{
    text-align: center;
    font-size: 27px;
}

.fa.fa-star{
    font-size: 20px;
}
.feeadbackImageStyle{
    width: 150px;
    margin-left: 72px;
    margin-right: auto;
    margin-top: -37px;
    font-size:50px;
    font-size: 30px;
    color: black;
}
.textStyle-Feedback{
    font-size:25px;
    margin-left: -44px;
}
.displayCooment-Feedback{
    margin-left: 78px;
    margin-right: auto;
    font-size: 25px;
    color: black;
}

.commentbox{
    background-color: white;    
    width: 88%;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 10px;    
    padding-top: 10px;
}
.feeadbackCommentStyle{
    width: 866px;
    font-size: 28px;
    padding-left: 70px;
    padding-right: 15px;
    color: black;
}   

.text-profile{
    font-size: 40px;
    margin-top: 31px;
    padding-left: -70px;
    margin-left: 10px;
    margin-left: 20px;
}
.feedbackstyle.ui-btn.ui-shadow.ui-corner-all{
    width: 240px !important;
    font-size: 23px !important;
}
.signoutstyle.ui-btn.ui-shadow.ui-corner-all{
    background-color: #9c9191 !important; color: black !important; 
    width: 240px !important;
    font-size: 23px !important;
    margin-top: 10px;
}
.profie{
    font-size: x-large;
    width: 502px;
    margin-right: auto;
    margin-left: auto;
}
    
.view-item-price{
    height: 80px;
    font-size: 22px;
    margin-left: 71px;
    margin-right: 9px;

}
.view-item-star{
    height: 80px;
    font-size: 22px;
    margin-left: 71px;
    margin-right: 9px;
    padding-top: 35px;

}
.view-sub{
    font-size: x-large;
    display: inline;
    margin-left: 111px;
}

.view-seller-details{
    width: 462px;
    height: 225px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 37px;
    margin-top: 24px;
}
.addTocart.ui-btn.ui-corner-all{
    font-size: larger;
}
.view-cart-icon{
    width: 46px;
}
.addToFav{
    width: 46px;
    margin-left: 17px;
}
.arrow{
    display: inline;
    float: right;
    width: 48px;
    height: 42px;
    margin-top: -25px;
    margin-right: 23px;
}

/* My cart */
.itemPic{
    width: 100px;
    padding-top: 10px;
}
.itemName{
    text-align: center;
    padding-top: 6%;
    color: #AB821E;
    font-size: x-large;

}
.itemPrice{
    color: #AB821E;
    font-size: x-large;
    text-align: center;
}
.itemQty{
    color: #AB821E;
    font-size: x-large;
    padding-left: 16px;
    width: 1px;
    text-align: -webkit-center;
}
.plus{
    width: 19px;
}
.minus{
    width: 1px;
}
.itemsCartList{
    background-color: white;
    text-align: -webkit-center;
    margin-left: auto;
    margin-right: auto;
    width: 51%
}
.totalText{
    color: #AB821E;
    font-size: xx-large;
    margin-left: 65%;
    margin-top: 41px;
}
.totalValue{
    font-size: x-large;
    text-align-last: center;
    width: 43%;
    margin-left: -30px;
}
.checkout{
    /* width: 100% !important;
    font-size: larger;
    padding-right: 58px; */
}
.continueShopping.ui-btn.ui-shadow.ui-corner-all{
    /* width: 100% !important;
    font-size: larger; */
}



/* Confirm order */
.confirmOrderList{
    border-width: 1px; 
    border-style: solid; 
    margin-left: auto;
    margin-right: auto; 
    background-color:white;
    width: 519px

}
.orderSummary{
    margin-right: auto;
    margin-left: auto;
    color: #AB821E;
    font-size: x-large;
}
.voucherCode{
    font-size: larger !important;
    padding-right: 10px;
}
.voucherCodeValue{
    background-color: white !important;
}
.ConfirmOrder.ui-btn.ui-shadow.ui-corner-all{
    width: 42% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: larger;
}
.Fav-icon{
    width: 47px;
    margin-left: 138%;
    margin-top: 62px;
}
.feedback-popup{
    width: 452px;
    margin-left: -10px;
}


/* iphone  portrait */

@media screen and (max-width: 680px ) and (min-width: 370px) {

    .ui-body.ui-body-a.ui-corner-all{
        width: 70% !important;     
        margin-right: auto;
        margin-left: auto;
        float: none !important;
    }
    .Fav-icon{
        width: 39px !important; 
        margin-left: 83% !important;
        margin-top: -10px !important;
    }
    .POI-image{
        width: 100px;
        height: 100px;
        }

    
.pOI-name {
    font-size:16px;
    padding-left: 0px !important;
    font-family: serif !important;
    
    }
    .pOI-des {
    font-size: 12px;
    padding-left: 0px !important;
    }
    .pOI-price {
    font-size: 14px;
    padding-left: 0px !important;
    }
    .pOI-name-promo {
    font-size:18px;
    }
    .pOI-price-promo {
    font-size:18px;
    }
    .video-size{
        height: 170px !important;
    }
    .QRStyle{
        height: 40px !important;
        width: 40px !important;
        padding-top: 3px !important;

    }
    .box {
        
         margin-left: 0px;
         margin-right:0px;
         font-size: 16px;
         height: 200px;
     }
     .QRStyle{
        padding-left: 1px !important;
    }
    .space{
        height: 13px !important;
       }
     
    .view-item-img{
        width: 10% !important;
        margin-left: 0px !important;
    
    }
    .view-item-des{
        margin-left: 0% !important; 
        width: auto !important;
        text-align: left;    
        font-size: 16px !important;
    }
    .view-item-grid{
        width: 350px !important;
    }
    .itemPic{
        width: 90px !important;
        padding-top: 10px;
    }
    .itemName{
        padding-top: 8%;
        font-size: large !important;
        padding-left: 11px;
        
    }
    .itemPrice{
        text-align: center;
        font-size: medium !important
    }
    .itemQty{
        font-size: medium !important;
        width: 36px !important;
    }
    .plus{
        width: 24px !important;
        padding-left: 12px !important;
    }
    .minus{
        width: 20px !important;
        padding-right: 23px !important;
    }
    .itemsCartList{
        background-color: white;
        text-align: -webkit-center;
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
    }
    .itemsCartList{
        background-color: white;
        text-align: -webkit-center;
        margin-left: auto;
        margin-right: auto;
        width: 51%
    }
    .totalText{
        font-size: large;
    }
    .totalValue{
        /* width: 109px !important;
        font-size: medium !important;
        text-align: -webkit-center;
         background-color: white;
         border-radius:19px; */
    }
    .checkout{
        /* width: 73% !important;
        font-size: medium; */
    }
    .continueShopping.ui-btn.ui-shadow.ui-corner-all{
        /* width: 73% !important;
        font-size: medium; */
    }
  

    /* My cart */
    .confirmOrderList{
        border-width: 1px; 
        border-style: solid; 
        margin-left: auto;
        margin-right: auto; 
        background-color:white;
        width: 342px;
    }
    
    /* darshi */

    .back{
       margin-left: 18px;
    width: 25px !important;
    height: 25px !important;
    margin-bottom: -25px;
        
    }
    .row{
        margin-left: 10px;
    }
    .textStyle-Feedback{
        font-size:18px !important;
        margin-left: 0px !important;
    }

    .displayCooment-Feedback {
    margin-left: 32px!important;
    margin-right: auto!important;
    font-size: 12px!important;
    color: black;
}
     .box-rating {
    width: 100% !important;
    background-color: white;
    height: max-content;
    border-color: white;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0px !important;
}
.feeadbackCommentStyle{
        width: 360px;
    padding-left: 20px;
    padding-right: 10px;
    color: black;
    font-size: 12px !important;
}
    .text-rating{
        text-align: center;
        font-size: 17px;
    }

    .fa.fa-star{
        font-size: 10px;
    }
 
.commentbox{
    background-color: white;    width: 100%;
    margin-left: auto;
    margin-right: auto; border-radius: 10px;    padding-top: 10px;
}
.text-profile {
    font-size: 20px!important;
    margin-top: 31px!important;
    padding-left: -29px!important;
    margin-left: 10px!important;
    margin-left: -30px!important;
}
.feedbackstyle.ui-btn.ui-shadow.ui-corner-all{
    width: 158px !important;
    font-size: 15px !important;
}
.signoutstyle.ui-btn.ui-shadow.ui-corner-all{
    background-color: #9c9191 !important; color: black !important; 
    width: auto !important;
    font-size: 15px !important;
    margin-top: 10px;
}
.profie{
    
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

.view-item-price{
    height: 50px;
    font-size: 16px;
    margin-left: 0px;
}
.view-sub{
    font-size: 18px;
    margin-left: 11px;
}
.view-seller-details{
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 19px;

}
#map {
    height: 200px !important;
    
   }

   .view-item-price{
    height: 60px;
    font-size: 16px;
    margin-left: 0px;
    margin-right: 0px;

}
.view-item-star{
    height: 60px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 27px;
}
.view-cart-icon{
    display: block;
    margin-left: auto;
    width: 49%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 10px;
   
}
.addToFav{
    display: block;
    width: 34%;
    margin-top: 15px;
    margin-bottom: auto;
}
.arrow{
    display: inline;
    float: right;
    width: 34px;
    height: 32px;
    margin-top: -25px;
    margin-right: 23px;
}
.voucherCode{
    font-size: 18px !important;
    padding-right: 10px;
}
.ConfirmOrder.ui-btn.ui-shadow.ui-corner-all{
    width: 74% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: medium;
}


.item{
    background-color: white;
    border-radius: 10px;
}

.confirmTotalText{
    
}

}




